<section class='radius shadow mb-3 padding'>
  <h2>Create New Post</h2>

  <form class="new-post-form ">
    <div>
      <label for="post-title"  class='form-label'>Title</label>
      <input type="text" id="post-title"   class='form-control'name="post-title" />
    </div>
    <div>
      <label for="post-url" class='form-label'>Link</label>
      <input id="post-url" name="post-url" class='form-control'/>
    </div>
    <button type="submit" class="btn shadow">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li class='radius shadow padding'>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>