<form class="login-form shadow radius shadow-sm p-3 mb-5 bg-body rounded">
  <div class="mb-3">
    <label for="email-login">email:</label>
    <input type="email" class="form-control" id="email-login" placeholder='email@email.com'/>
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-login" placeholder='*******'/>
  </div>
  <div>
    <button type="submit" class="btn btn-info shadow">login</button>
  </div>
</form>

<form class="signup-form shadow radiusshadow-sm p-3 mb-5 bg-body rounded">
  <div class="mb-3">
    <label for="username-signup" class="form-label">username:</label>
    <input type="text" class="form-control" id="username-signup" placeholder='username'/>
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label">email:</label>
    <input type="text" class="form-control" id="email-signup" placeholder='email@email.com'/>
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label">password:</label>
    <input type="password" class="form-control" id="password-signup" placeholder='*******' />
  </div>
  <div>
    <button type="submit" class="btn btn-info shadow">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>